.date{
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    border-bottom: 1px solid rgb(18, 10, 245);
}
.details{
    font-size: 20px;
word-wrap: break-word;
overflow:hidden;

}
.note-title{
    white-space: nowrap;
    font-size:2rem;
    overflow: hidden;
text-overflow: ellipsis;
}
.Note-items{
    display: flex;
}
.note-item{
    position: relative;
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(8, 8, 8);
    text-decoration: none;
    margin: 20px;
    background-color: rgb(227, 242, 139);
   
}
.note-item:hover{
    box-shadow: 0 8px 10px 0 rgba(255, 255, 254, 0.2), 0 8px 20px 0 rgba(254, 254, 254, 0.19);
}
